
#control_panel {
  background-color: yellow;
  padding: 1% 1% 1% 1%;
}

#ll_holder {
  background-color: black;
}

#ll_element {
  background-color: red;
  inline-size: min-content;
  padding: 1% 1% 1% 1%;
  border: dotted;
}

